
/* Typography */
$primary-color:#4e72f9;
$text-color:#e8e8e8;
$body-font-family: "Josefin Sans", sans-serif;
$header-font-family: "Aleo", sans-serif;
a,
input[type="submit"],
input[type="button"],
button{
	transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
}
input[type="submit"],
input[type="button"],
button,
.ba-button{
	display: inline-block;
	font:400 16px/60px $header-font-family;
	border-radius: 0;
	background-color: $primary-color;
	padding: 0 38px;
	letter-spacing: 0.075em;
	color:#fff;
	text-transform: uppercase;
	min-height: 60px;
	vertical-align: middle;
	svg{
		fill:currentColor;
	}
	&:hover{
		color:#fff;
		background-color: lighten ($primary-color, 5%);
	}
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
input[type="tel"],
input[type="search"],
textarea,
select {
	transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
	height: 56px;
	padding:0 10px;
	border:none;
	background: #fff;
	border-radius: 0;
	font:300 14px/56px $body-font-family;
	color:#999;
	letter-spacing: 0.2em;
	&:focus{
		outline:none;
		box-shadow: inset 0 0 0 2px  $primary-color;
		
	}
}


textarea {

}
